<!DOCTYPE html>
<html>
<head>
    <title>Brick Inventory</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="BrickInventoryApp" ng-controller="bricksController">
    <div class="panel panel-default">
        <div class="panel-heading">Brick Inventory</div>
            <div class="panel-body">

  <table>
    <thead>
      <tr><th colspan="2"></th>
          <th>Id</th>
          <th>Type</th>
          <th>Color</th>
          <th>Name</th>
          <th>Quantity</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="brick in bricksList" ng-show="brick.show">
        <td>{{$index + 1}}</td>
        <td><img src="img/bricks/{{brick.itemId}}.gif" /></td>
	    <td>{{brick.itemId}}</td>
	    <td align="center">{{brick.itemType}}</td>
        <td align="center">{{brick.colorId}}</td>
        <td>{{brick.itemName}}</td>
        <td align="center">{{brick.count}}/{{brick.quantity}} </td>
	    <td><button class="btn btn-default" ng-click="found(brick)">Found</button></td>
      </tr>
    </tbody>
  </table>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <!--<script src="js/services.js"></script>-->
    <script src="controllers.js"></script>
             </div>
        </div>
    </div>
</body>
</html>
