<!DOCTYPE html>
<html>
<head>
  <title>F-1 Feeder</title>
</head>

<body ng-app="F1FeederApp" ng-controller="driversController">
  <table>
    <thead>
      <tr><th colspan="7">Drivers Championship Standings</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="driver in driversList" ng-show="driver.show">
        <td>{{$index + 1}}</td>
        <td>
	  <img src="img/flags/{{driver.Driver.nationality}}.png" />
	</td>
	<td>
          {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
        </td>
        <td>{{driver.Constructors[0].name}}</td>
        <td>{{driver.points}}</td>
	<td>{{driver.found}}</td>
	<td><a ng-click="found(driver)">Found</a></td>
      </tr>
    </tbody>
  </table>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <!--<script src="js/services.js"></script>-->
  <script src="controllers.js"></script>
</body>
</html>
